{% extends 'base.html.twig' %}

{% block title %}Choix type consultation{% endblock %}

{% block body %}
    <h1>Choix type consultation</h1>
<b>Patient :</b> {{sick.firstName}} {{sick.lastName}}
    {{form(form)}}

    <a href="{{ path('app_consultation_index') }}">back to list</a>
{% endblock %}
