<form method="post" action="{{ path('app_sick_delete', {'id': sick.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sick.id) }}">
    <button class="btn">Delete</button>
</form>
