{% extends 'base.html.twig' %}

{% block title %}New Sick{% endblock %}

{% block body %}
    <h1>Create new Sick</h1>

    {{ include('sick/_form.html.twig') }}

    <a href="{{ path('app_sick_index') }}">back to list</a>
{% endblock %}
